*{
    cursor:none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
} 
:root{
    --bg-color: #10101a;
    --main-color: #0eaafe;
    /*#2fbf71  green one*/ 
    /*#F34213  green one*/ 
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 6rem;
    --h2-font: 2.9rem;
    --p-font: 2rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 24px 14%;
    transition: .3s;
}




.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}
span{
    color: var(--main-color);

}
/*#region  Cursor*/

  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: rgb(255, 255, 255);
  }
  .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }
  .page, .page a {
   cursor: none;
  }
  /*#endregion Cursor*/
/*#region Reconchille Button*/

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(0, 0, 0)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*#endregion RegionName*/


.navbar{
    display: flex; 
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}
/* .navbar a:hover{
    background: var(--main-color);
    transition: .3s;
} */
#nav-button:hover{
    background: var(--main-color);
    transition: .3s;

} 

#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}





 section{
    padding: 120px 14%;
 }
 .home{
    position: relative;
    height: 100vh; 
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border: 1px solid #0eaafe;
    border-radius: 60px 60px;
    padding: 3px;
    opacity: 0.8;

}
.home-text h5{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}
.home-text h6{
    color: var(--text-color);
    font-size:18px;
    font-weight: 500;
    margin-bottom: 25px;
}
.home-text p{
    max-width: 470px;
    font-size:var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--2nd-main-color);
}
.btn{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-size: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}
.btn:hover{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border: 1px solid #0eaafe;
    border-radius: 60px 60px;
    padding: 3px;
    opacity: 0.8;
}
.about-text h3{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin:0 0 30px;
}
.about-text h2{
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    max-width: 470px;
}
.about-text p{
    max-width: 570px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0rem;
    line-height: 1.8rem;
    color: var(--2nd-main-color);
}
.count{
    margin-bottom: .5rem;
}
 .about-text .count a{
    color: var(--2nd-main-color);
    margin-right: 5px;
    word-spacing: 5px;
 }   
.count span{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
}
.main-btn .btn{

    margin-top: 20px;
    margin-right: 20px;
}
.center{
    text-align: center;
}
.center h3{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
    
}
.row{
    
    background: #0b0b13;
    padding: 60px 35px; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}
.row i{
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 20px;
}
.row h3{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    
    color: var(--text-color);
}
.row p{
    font-size: 18px;
    color: var(--2nd-main-color);
    line-height: 30px;
}
.row:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}


/*CTA*/
.cta{
    background: #0b0b13;
    width: 100%;
    padding: 150px 0;
    text-align: center;
    margin: 100px auto;
}
.cta h4{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.cta h2{
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 40px;
}


/*RESUME*/
.resume-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
 
}
.box{
    background: #0b0b13;
    padding: 40px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}
.box h6{
    color: #3e4455;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.box p{
    font-size: var(--p-font);
    font-weight: 700;
    margin-bottom: 1.2rem;
    line-height: 1.5rem;
    color: var(--text-color);
}
.box h5{
    font-size: 14px;
    font-weight: 500;
    color:var(--2nd-main-color);
}
.box:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}



/*startcontact*/
.contact-form{
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}
.contact-form form{
   
    position: relative;
    width: 550px;
}
.contact span{
    color: #e61573;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
form input,
form textarea{
    
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    color: var(--text-color);
    background:var(--main-color);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
form input::placeholder,
form textarea::placeholder{
    color: var(--text-color);
    background: var(--main-color);
}
textarea{
    resize: none;
    height: 200px;
}
form .send-btn{
    margin-top: 15px;
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-size: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
    cursor: pointer;
}
form .send-btn:hover{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}


.copyright{
    text-align: center;
    padding: 30px;
    color: var(--2nd-main-color);
    background: #0b0b13;
    margin-top: 3rem;
    line-height: 1.8rem;
}


@media (max-width: 1430px){
    header{
        padding: 25px 3%;
    }
    section{
        padding: 50px 3%;
    }
    :root{
        --big-font: 3rem;
        --h2-font: 1.2rem;
    }
}
@media (max-width: 1020px){
  
    :root{
        --big-font: 3rem;
        --h2-font: 1.2rem;
        --p-font: 0.9rem;
    }
    .home{
        height: 70vh;
    }
    .home-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
      
}
@media (max-width: 830px){
    header{
        padding: 18px 3%;
    }
    #menu-icon
    {
        display: block;
    }  
    .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #0b0b13;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: left;
        transition: 0.2s ease;
    } 
    .navbar a{
        display: block;
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem ;
        display: block;
    }   
    .glow-on-hover {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #0b0b13;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: left;
        transition: 0.2s ease;
    }   

    .navbar.active{
        top: 100%;
    }
}
@media (max-width: 795px){
    :root{
     
        --big-font: 3.3rem;
        --h2-font: 1.5rem;
        --p-font: 1rem;
    }
    *{
        cursor: none;
    }
    .home{

        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
        margin-top: 80px;
        height: 100vh;
        width: 100%;
        overflow:hidden;
    }   
    .home-text p{
        margin-left: -10;
        max-width: 100%;
        text-align: center;
        

    }    
    .home-img{
        max-width: 100%;
        width: 490px;
        height: auto;
        
    }
    .about{
        order: 1;
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 2rem;
    }
     .about-text h2{
        max-width: 100%;
     }  
     .about-text p{
        max-width: 100%;
     }  
     .about-img{
        order: 2;
     }
     
    }