.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    cursor: none;
}
.cursor-dot{
    /* position: fixed; */
    width: 5px;
    height: 5px;
    /* border-radius: 50%; */
    background: #fff;
}
.cursor-outline{
    width: 40px;
    height: 40px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.cursor-dot, .cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--foreground-color);
    border-radius: 6px;
}
:root {
    --bg-color: #000;
    --foreground-color: #ff2167;
    --text-color: #fff;
    --secondary-color: #ababab;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(photos/hazzo.JPG)  ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    display: flex; 
    justify-content: center;
    align-items: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a:hover{
    color: #fff;
    font-weight: 600;
    /* background-color: rgba(0, 0, 0, 0); */
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--foreground-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-weight: lighter;
    
}
.header-text p{
    font-size: 50px;
}
.header-text p span{
    font-size: 70px;
    color:var(--foreground-color)
}
.header-text h1{
    font-weight: lighter;
    font-size: 30px;
    margin-top: 10px;
}

  .text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
  }
  .text-animation span{
    color: var(--foreground-color)
  }

#about{
    padding: 80px 0;
    color: var(--secondary-color)
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: flex;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: larger;
}
.subtitle{
    font-size: 80px;
    font-weight: lighter;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    font-size: 30px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    /* cursor: pointer; */
    position: relative;
}

.tab-links:hover{
    color: #fff;
}

.tab-links.active-link::after,
.tab-links:hover.active-link::after { /* Yeni kural: Aktif link olduğunda veya üzerine gelindiğinde */
    width: 100%;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--foreground-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;

}
.tab-content ul li span{
    color: var(--foreground-color);
    font-size: 20px;
}
.tab-content ul li span:hover{
    color:#ff9696;
    font-size: 20px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}


/* -----contact------- */
#contact{
    background-color:#fff7f7;
    color: #000;
    font-weight: 600;
}
#contact:hover .cursor-dot{
    /* color: #000;
    background-color: #000; */
    background: #000;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 25px;
}
.contact-left h1{
    font-size: 50px;
    font-weight: lighter;
    padding-top: 20px;
}
.contact-left p i{
    color: var(--foreground-color);
    margin-right: 15px;
    font-size: 25px;
}
.contact-left a i{
    color: var(--foreground-color);
    margin-right: 15px;
    font-size: 25px;
    padding-top: 30px;
}

.social-icons{
    margin-top: 25px;
}
.social-icons a{
    color: var(--foreground-color);
    text-decoration: none;
    margin-right: 30px;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    color:#ffffff;
    transform: translateY(-5px);
}


.btn-cv{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.btn-cv:hover{
    /* color: #fff; */
    font-weight: 600;
}
.btn-cv::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--foreground-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.btn-cv:hover::after{
    width: 100%;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0.5;
    border-color: var(--foreground-color);
    outline: none;
    background: var(--text-color);
    padding: 10px;
    margin: 15px 0;
    color: var(--bg-color);
    font-size: 15px;
    border-radius: 8px;
    font-weight: 600;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    background: var(--foreground-color);
    color: var(--text-color);
    border-radius: 5px;
    border: 0;
}
form .btn2:hover{
    background:#c92257
    
}
#copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #0e0e0e;
    /* margin-top: 20px; */
    font-weight: lighter;
}


/* -------responsive------ */
@media only screen and (max-width: 600px){
    #header{
        background-image: none;
        background: var(--bg-color);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
        font-weight: lighter;
    }
    .header-text h1{
        font-size: 30px;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
}